<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <%- include("shared/widget/header.ejs") %>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/admin.css">
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body style="background-color: var(--color4) !important;">
        <%- include("shared/widget/navbar.ejs") %>
        <div style="background-color: #fff;" class="row">
            
            <div class="col admin-main">
                <br>
                <br>
                <br>
                <br>
                <h3>جميع البوستات</h3>
                <u><a href="/admin">عودة ←</a></u>
                <div class="col">
                    <% posts.forEach(element => { %>
                        
                        <a>
                            <div class="box">
                                <h3 style="font-size: medium;"><%= element.title %> </h3>
                                <a href="/admin/del/post/<%= element.id %>" class="btn button1">حذف البوست</a>
                            </div>
                        </a>
                    <% }) %>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
        
            <div class="col-sm-3 admin-buts">
                
                <%- include("shared/widget/adminTabs.ejs") %>
                
            </div>
        </div>
            
        <%- include("shared/widget/footer.ejs") %>
    </body>
</html>



<style>
    .a {
        display: inline-block;
    }
    .box{
        border-radius: 20px;
        border: gray 2px solid;
        margin: 10px;
        width: 60vw;
        margin-right: 10vw;
        max-height: 20em;
    }
    .box:hover{
        background-color: gray;
        color: white;
        border-radius: 20px;
        border: rgb(255, 255, 255) 2px solid;
        margin: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 10vw;
    }
</style>