<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <%- include("shared/widget/header.ejs") %>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="css/admin.css">
        <link rel="stylesheet" href="/css/admin.css">
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
        
    </head>
    <body style="background-color: var(--color4) !important;">
        <%- include("shared/widget/navbar.ejs") %>
        <div style="background-color: #fff;" class="row">
            
            <div class="col admin-main">
                <br>
                <br>
                <br>
                <br>
                <h3>جميع الاسئلة التي لم يجب عليها</h3>
                <u><a href="/admin">عودة ←</a></u>
                <div class="row">
                    <ul class="list-group list-group-numbered">
                        <% posts.forEach(element => { %>
                            
                            <li class="list-group-item box" style="max-height: fit-content;">
                                <div readonly style="font-size: medium;height: 14vh;width: 100%;overflow-y: scroll;"><%- element.text %> </div>
                                <br>
                                <a href="/admin/update/post/<%= element.id %>" class="btn button1">تعديل</a>
                                <a href="/admin/del/post/<%= element.id %>" class="btn button1">حذف</a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
                <br>
                <br>
                <br>
                <br>

            </div>
                
            <div class="col-sm-3  admin-buts">
                
                <%- include("shared/widget/adminTabs.ejs") %>
                
            </div>
        </div>
        <%- include("shared/widget/footer.ejs") %>
    </body>
</html>



<style>
    .a {
        display: inline-block;
    }
    .box{
        width: 100%;
        max-height: 20em;
        overflow: hidden;
    }
    .box:hover{
        
    }
    .button1{
        border: var(--color5) 3px solid;
    }
</style>