<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <%- include("shared/widget/header.ejs") %>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/admin.css">
        <link rel="stylesheet" href="/css/admin.css">
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
        
    </head>
    <body>
        <%- include("shared/widget/navbar.ejs") %>
        <!-- --------------------------------------------------------------------------------------------------------- -->
        <!-- imort -->
        <!-- finish this later -->
        <div class="row">
            <div class="col admin-main">
                <form action="/admin/update/post/<%= postsId %>" method="post" dir="ltr">
                    <div class="mb-3 mt-3">
                        <label class="form-label" style="font-size: xx-large;">انشر بوست</label><br><br>
                        
                        <label class="form-label">عنوان البوست</label>
                        <input  class="form-control" value="<%= postsTitle %>" id="title"  name="title" style="width: 100%;direction: ltr;"> 
                        <label class="form-label">نص البوست</label>
                        <textarea id="summernote" name="text"><%- postsText %></textarea>
                        <script>
                        $('#summernote').summernote({
                            placeholder: 'اكتب نص المقالة هنا ...',
                            tabsize: 2,
                            height: 500,
                            toolbar: [
                            ['style', ['style']],
                            ['font', ['bold', 'underline', 'clear']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['table', ['table']],
                            ['insert', ['link']],
                            ['view', ['codeview', 'help']]
                            ]
                        });
                        </script>
                    </div>
                    <button type="submit" class="btn button1">انشر!</button>
                    <br>
                    <br>
                    <br>
                    <u><a href="/admin">عودة ←</a></u>
                </form>

                <br>
                <br>
                <br>
                <br>
            
                
            </div>
                
            <div class="col-sm-3 admin-buts">
                
                <%- include("shared/widget/adminTabs.ejs") %>
                
            </div>
        </div>

        <%- include("shared/widget/footer.ejs") %>

    </body>
</html>


