<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <%- include("shared/widget/header.ejs") %>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="/css/main.css">
        <%- include("shared/ads/popunder.ejs") %>
    </head>
    <body style="background-color: var(--color4) !important;">
        <section style="background-color: #fff;">
        <%- include("shared/ads/socialbar.ejs") %>           
            <%- include("shared/widget/navbar.ejs") %>
            <br>
            <br>
            
            <h1><%= title %></h1>
            <h3><%= desc %></h3>
            <h6>مزيد من التفاصيل</h6>

            <br>
            <br>
            <br>
            <%- include("shared/ads/nativeBanner.ejs") %>
        </section>
        <%- include("shared/widget/footer.ejs") %>
    </body>
</html>
