<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <%- include("shared/widget/header.ejs") %>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <%- include("shared/widget/navbarNotloged.ejs") %>
        <br>
        <br>
        <h1><%= title %></h1>
        <h3><%= desc %></h3>


        <div style="position: absolute; bottom: 0;right: 0;left: 0;">
            <%- include("shared/widget/footer.ejs") %>
        </div>
    </body>
</html>
