<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <%- include("shared/widget/header.ejs") %>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <%- include("shared/widget/navbar.ejs") %>

        <!-- https://images.cdn-files-a.com/ready_uploads/media/189816/2000_5ced08a28fba4.jpg -->

        <%- include("shared/pages/homePage.ejs") %>

        <%- include("shared/ads/nativeBanner.ejs") %>                    
        <%- include("shared/ads/popunder.ejs") %>

        <%- include("shared/widget/footer.ejs") %>

    </body>
</html>


