
<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <%- include("shared/widget/header.ejs") %>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="/css/main.css">
        
        <meta name="description" content="تصفح المقالات المنوعة على موقعنا">
        <meta http-equiv="refresh" content="900">
        <meta property="og:title" content="Nesrenlaw">
        <meta property="og:description" content="تصفح المقالات المنوعة على موقعنا">
        <meta property="og:image" content="https://nesrenlaw.com/images/img1.webp">
        <meta property="og:url" content="https://nesrenlaw.com">
        <meta property="og:type" content="website">
    </head>
    <body style="background-color: var(--color4) !important;">
        <%- include("shared/ads/socialbar.ejs") %>           
            <%- include("shared/widget/navbar.ejs") %>
        <section style="background-color: white !important;">
            <br>
            <br>
            <br>
            <!-- https://images.cdn-files-a.com/ready_uploads/media/189816/2000_5ced08a28fba4.jpg -->
            <% posts.forEach((element,index) => { %>
                                    <%- include("shared/ads/nativeBanner.ejs") %>

                <div class="post">
                    <!-- <div class="publisher">
                        <img src="logo.webp" alt="" style="width:30px;background-color: #ffffff;" class="rounded-pill">
                        User123 <span class="verified"><i class="far fa-check-circle"></i></span>
                    </div> -->
                    <h2><%= element.title %></h2>
                    <%-element.text %>
                    <br>
                    <button style="border-radius: 20px;" type="button" class="card1-button1" onclick="copyInput('https:/\/nesrenlaw.com/posts/<%= element.id %>')">
                        <h2> شارك المقالة</h2>
                    </button>
                </div>
                <% if ((index + 1) % 4 === 0) { %> 
                                        <%- include("shared/ads/nativeBanner.ejs") %>

                <% } %>
            <% }) %>
            
            <% if(posts.lenght ==0){ %>
                <h2>لايوجد مقالات بعد!</h2>
            <% } %>
            <br>
            <div class="row" style="text-align: center;" dir="ltr">
                <% if (index > 1) { %>
                    
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="/posts?index=<%= index -1 %>" style="color: var(--color3);">عودة</a></li>
                        <li class="page-item"><a class="page-link" href="/posts?index=<%= index - 1 %>" style="color: var(--color3);"><%= index - 1 %></a></li>
                        <li class="page-item"><a class="page-link" href="/posts?index=<%= index %>" style="background-color: var(--color3) !important;color: var(--color2);"><%= index %></a></li>
                        <li class="page-item"><a class="page-link" href="/posts?index=<%= index  + 1 %>" style="color: var(--color3);"><%= index + 1%></a></li>
                        <li class="page-item"><a class="page-link" href="/posts?index=<%= index + 1 %>" style="color: var(--color3);">تقدم</a></li>
                    </ul>
                <% } else { %>

                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="/posts?index=<%= index %>" style="background-color: var(--color3) !important;color: var(--color2);"><%= index %></a></li>
                        <li class="page-item"><a class="page-link" href="/posts?index=<%= index + 1 %>"  style="color: var(--color3);"><%= index +1 %></a></li>
                        <li class="page-item"><a class="page-link" href="/posts?index=<%= index + 2 %>" style="color: var(--color3);"><%= index +2 %></a></li>
                        <li class="page-item"><a class="page-link" href="/posts?index=<%= index + 1 %>" style="color: var(--color3);">تقدم</a></li>
                    </ul>

                <% } %>
            </div>
            <br>
            <br>
        </section>
        <script>
            function copyInput(text) {
                navigator.clipboard.writeText(text);
                alert("تم نسخ الرابط " + text);
            }
        </script>

        <%- include("shared/widget/footer.ejs") %>

    </body>
</html>


<style>
    .post{
        
        box-shadow: 0px 0px 14px 0px #575757;
        padding: 10px;
        background-color: #eee;
        margin: 10px;
        margin-left: 10vw;
        margin-right: 10vw;
        border-radius: 15px;
    }

    .ad-post {
        background-color: #fff !important;
        border: 2px solid #ddd;
        text-align: center;
    }

    .ad-box {
        margin-top: 10px;
        padding: 10px;
        background: #fdfdfd;
    }
    @media (max-width: 768px) {
        .post {
            margin: 10px;
            margin-left: 0vw;
            margin-right: 0vw;
            border-radius: 15px;
        }
    }
</style>