<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <%- include("shared/widget/header.ejs") %>
        <link rel="stylesheet" href="css/main.css">

        
        <meta name="description" content="اسئل و استشر مجانا على موقعنا">
        <meta http-equiv="refresh" content="900">
        <meta property="og:title" content="Nesrenlaw">
        <meta property="og:description" content="اسئل و استشر مجانا على موقعنا">
        <meta property="og:image" content="https://nesrenlaw.com/images/img6.webp">
        <meta property="og:url" content="https://nesrenlaw.com">
        <meta property="og:type" content="website">
    </head>
    <body>
        <%- include("shared/widget/navbar.ejs") %>
        <%- include("shared/ads/socialbar.ejs") %>           
        <!-- --------------------------------------------------------------------------------------------------------- -->
        <!-- imort -->
        <!-- finish this later -->
        <form action="/ask" method="post">
            <div class="mb-3 mt-3">
                <label class="form-label" style="max-width: 100vw; overflow: hidden;"><%=email %></label>
                <br>
                <label class="form-label">اضف سؤالك:</label>
                <textarea class="form-control" id="ques"  name="quesText" style="width: 80vw; margin-right: 10vw;margin-left: 10vw;height: 60vh;
    direction: ltr;"></textarea>
            </div>
            <button type="submit" class="btn button1">اضف سؤالك</button>
            <style>
                .button1{

                    width: 80vw; 
                    margin-right: 10vw;
                    margin-left: 10vw;
                    background-color:var(--color3);
                    color:var(--color2);
                    border: 3px transparent solid;
            
                }
                .button1:hover{
                    background-color:var(--color2);
                    color:var(--color1);
                    border: 3px var(--color1) solid;

                }
            </style>
        </form>

        <br>
        <br>
        <br>


        <%- include("shared/widget/footer.ejs") %>

    </body>
</html>


